name: Build & Publish Docker Image

env:
  DOCKERHUB_TAG: 'jandi/webdav'

on:
  push:
    branches:    
      - main

jobs:
  main:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - 
        name: Login to DockerHub
        uses: docker/login-action@v2 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Build Image
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ env.DOCKERHUB_TAG }}:latest
          cache-from: type=registry,ref=${{ env.DOCKERHUB_TAG }}
          cache-to: type=inline
          platforms: linux/amd64,linux/arm/v7,linux/arm64
      -
        name: Image digests
        run: |
          echo image digest: ${{ steps.docker_build.outputs.digest }}